*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
html {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
}
nav {
  background-color: #6b5848;
  position: relative;
  display: flex;
  width: 100%;
  height: 4.4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 4rem;
  z-index: 1;
}
.nav-links a{
    color: black;
}
nav > a > img {
  width: 10rem;
  height: 100%;
}
#logo {
  height: 100%;
}
.nav-links > ul {
  display: flex;
  justify-content: space-between;
}
.nav-links > ul > li {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0 2rem;
  color: #000000;
  font-weight: 600;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 12rem;
  height: 50%;
  background-color: #b5b5b5;
  border-radius: 2rem;
  padding: 0 1rem;
}
.nav-icons{
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: space-between;
}
.nav-icons > i {
  font-size: 1.5rem;
}
.nav-items a{
    color: white;
}
.content{
  padding-left: 60px;
}
.content h1{
    color: black; 
    font-size: 2rem;
    /* padding-left: 60px; */
    padding-top: 25px;
    text-shadow: 2px 2px 2px #4e4f4f;
}
.content h2{
    color: #6b5848; 
    font-size: 1.8rem;
    /* padding-left: 60px; */
    padding-top: 25px;
    text-shadow: 2px 2px 2px #6b5848;
    font-weight: 500;
}
.content h3{
  color: black; 
  font-size: 16px;
  padding-top: 25px;
  font-weight: 600;
}
.content h3{
  color: black; 
  font-size: 16px;
  font-weight: 600;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: baseline;
  overflow: scroll;
  cursor: pointer;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 60px;
}

.container::-webkit-scrollbar{
  display: none;
}

.column{
  /* padding: 60px; */
  padding-top: 20px; 
  padding-bottom: 30px; 
}
.column1{
  /* padding: 60px; */
  padding-top: 20px; 
  padding-bottom: 120px; 
}
.card{
    display: absolute;
    height: 40vh;
    width:230px;
    border: solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding-right: 70px;
    text-align: right;
}
.card button{
    position: absolute;
    font-size: xxx-large;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    margin: 5px;
    border: none blue;
    width:60px;
    height:60px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    background-color: transparent;
}
.cassual0{
    background: url(../assets/reebok.webp);
    background-size: contain;
    background-repeat: no-repeat;
   
}
footer {
  position: relative;
  background-color: #000000;
  height: 30rem;
}
.bold {
  position: absolute;
  left: 6rem;
  top: 8rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.bold > ul,
.get-help > ul,
.about > ul {
  line-height: 3.5rem;
}
.bold > ul > li > a,
.get-help > ul > li > a,
.about > ul > li > a {
  color: #ffffff;
  font-weight: 500;
}
.get-help,
.about {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  left: 30rem;
  color: #ffffff;
  top: 4.5rem;
}
.get-help > ul > li > a,
.about > ul > li > a {
  color: #8b8b8b;
}
.about {
  left: 50rem;
}
.icons {
  color: #737171;
  font-size: 2.5rem;
  position: absolute;
  right: 6rem;
  display: flex;
  gap: 1.5rem;
  top: 5rem;
}
.privacy {
  color: #8b8b8b;
  font-weight: 500;
  position: absolute;
  bottom: 3rem;
  font-size: 1.2rem;
  right: 6rem;
}
.indonesia {
  color: #ffffff;
  display: flex;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  align-items: baseline;
  position: absolute;
  bottom: 3rem;
  left: 7rem;
}
.indonesia > i {
  font-size: 1.7rem;
}